<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tasks list</title>
    <link rel="icon"
          type="image/png"
          href="../static/favicon.png">
    <link rel="stylesheet" href="../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="../static/css/normalize.css"/>
    <link rel="stylesheet" href="../static/css/custom.css"/>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/angular.js"></script>
    <script src="../static/js/app.js"></script>
</head>
<body ng-app="tasks">

<div class="container" ng-controller="AngularJSCtrl">
    <div class="row">
        <h2 class="text-center"> Task list </h2>
        <div ng-if="null !== error" class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <span> {{ '{{error}}' }}</span>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item" ng-repeat="task in data">
                <h4 class="list-group-item-heading">{{ '{{ task.title}}' }}</h4><span class="badge text-right">{{ '{{ task.priority}}' }}</span>
                <p class="list-group-item-text">{{ '{{ task.description}}' }}</p>
            </a>
        </div>
    </div>
</div>

</body>
</html>